[Unit]
Description=archci: publish every minute
PartOf=archci-master.target

[Timer]
OnBootSec=3min
OnUnitActiveSec=1min

[Install]
WantedBy=timers.target
